Binaries
DerivedDataCache
Intermediate
Saved
build
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
.vsconfig
*.slnx
/Content/__ExternalActors__/_Doomsaday/Maps/Backups
