Binaries
DerivedDataCache
Intermediate
Saved
build
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
.vsconfig
*.slnx
/Content/__ExternalActors__/_Doomsaday/Maps/Backups
Content/__ExternalObjects__/_Doomsaday/Maps/Backups/Lvl_Blockout_260704/8/BN/F3N31N9FYICY38LAGOZ4LV.uasset
Content/_Doomsaday/Maps/Backups/Lvl_Blockout_260704.umap
/enc_temp_folder
